body {
  font-size: 18px;
}
.container {
    margin: 0 auto;
    width: 814px;
}


.color-test {
    width: 200px;
    height: 200px;
    display: inline-block;
}


/* Color calculation */
.pc-color-test {
    background-color: color(red alpha(-90%));
}

.color-test {
    width: 200px;
    height: 200px;
    display: inline-block;
}





:root {
  --siteFontSize: 20px;
}

a {
  color: var(--mainColor);
}body{font-size:18px}.container{margin:0 auto;width:814px}.pc-color-test{background-color:color(red alpha(-90%))}.color-test{width:200px;height:200px;display:inline-block}:root{--siteFontSize:20px}a{color:var(--mainColor)}